<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Transform="Replace" address="http://localhost:8080/Emaratech.Services.Scheduler.DataAccess/SchedulerDataAccessService.svc" binding="basicHttpBinding" contract="Emaratech.Services.Scheduler.Contracts.DataAccess.ISchedulerDataAccessService" name="BasicHttpBinding_ISchedulerDataAccessService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>