<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SystemId" value="D9296BE59386473698F24767CFA6F103" />
    <add key="LoggingApi" value="http://eap-dev/Logging/LoggingService.svc/json" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <!-- Allow DELETE method -->
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="restHandler" type="Emaratech.Services.WcfCommons.Rest.RestServiceBehaviorExtension, Emaratech.Services.WcfCommons.Rest" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/SchedulerDataAccess/SchedulerDataAccessService.svc" binding="basicHttpBinding" contract="Emaratech.Services.Scheduler.Contracts.DataAccess.ISchedulerDataAccessService" name="BasicHttpBinding_ISchedulerDataAccessService" />
      <endpoint address="http://localhost/Emaratech.Services.Scheduler.DataAccess/SchedulerDataAccessService.svc/monitor" binding="basicHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IDataAccessHealthCheck" name="BasicHttpBinding_IDataAccessHealthCheck" />
    </client>
    <services>
      <service name="Emaratech.Services.Scheduler.SchedulerService">
        <endpoint address="soap" binding="basicHttpBinding" contract="Emaratech.Services.Scheduler.ISchedulerService" />
        <endpoint address="json" binding="webHttpBinding" contract="Emaratech.Services.Scheduler.ISchedulerService" />
        <endpoint address="soap/monitor" binding="basicHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" />
        <endpoint address="json/monitor" binding="webHttpBinding" contract="Emaratech.Services.WcfCommons.HealthCheck.IHealthCheck" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <restHandler />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\EAP-LOGS\Scheduler\" />
      <datePattern value="'log'yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--Enable CORS-->
        <!--
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="origin, content-type, accept" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />-->
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" maxQueryString="2097151" maxUrl="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
  <swaggerwcf>
    <tags>
      <tag name="LowPerformance" visible="false" />
    </tags>
    <settings>
      <setting name="BasePath" value="/Emaratech.Services.Scheduler/SchedulerService.svc/json" />
      <setting name="InfoDescription" value="A micro service for scheduler mechanism" />
      <setting name="InfoVersion" value="0.0.1" />
      <setting name="InfoTermsOfService" value="" />
      <setting name="InfoTitle" value="Scheduler Service" />
      <setting name="InfoContactName" value="" />
      <setting name="InfoContactUrl" value="http://www.emaratech.ae" />
      <setting name="InfoContactEmail" value="ecore@emaratech.ae" />
      <setting name="InfoLicenseUrl" value="" />
      <setting name="InfoLicenseName" value="Emaratech" />
    </settings>
  </swaggerwcf>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="SchedulerContext" connectionString="metadata=res://*/SchedulerContext.csdl|res://*/SchedulerContext.ssdl|res://*/SchedulerContext.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User Id=ECORE_SCHEDULER;Password=q1w2e3;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: EB3AB8BA-96E4-4B2E-964C-4EF8DE4C6A05-->